@font-face {
    font-family: 'Font-1';
    src: url(/futurak.ttf);
}

/* navbar */

a{
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}
.logo-img{
    width: 168px;
}
.nav-items{
    display: flex;
    gap: 25px;
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-1{
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.btn-2{
    background-color: var(--red-color);
    color: white;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.btn-2-2{
    color: var(--red-color);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

/* introduction */

.intro-h1-1{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 150px 25px;
}
.intro{
    text-align: center;
}
.intro-p1{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 50;
    margin: 0 150px 25px;
}
.intro-h1-2{
    font-size: 3.2rem;
    margin: 40px 150px 25px;
    font-family: 'Poppins';
    font-weight: 100;
}