@font-face {
    font-family: 'Font-1';
    src: url(/Fonts/futurak.ttf);
}

/* navbar */

a{
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}
.logo-img{
    width: 168px;
}
.nav-items{
    display: flex;
    gap: 25px;
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-1{
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.btn-2{
    background-color: var(--red-color);
    color: white;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.btn-2-2{
    color: var(--red-color);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

/* introduction */

.intro-h1-1{
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 40px 150px 25px;
}
.intro{
    text-align: center;
}
.intro-p1{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 50;
    margin: 0 150px 25px;
}
.intro-h1-2{
    font-size: 3.2rem;
    margin: 40px 150px 25px;
    font-family: 'Poppins';
    font-weight: 100;
}

/* images and text section 1  */
.about-1{
    display: flex;
    margin: 60px 150px 0;
    gap: 35px;
}
.about-h2-1{
    font-size: 3.2rem;
    font-family: 'Poppins';
    font-weight: 60;
    margin-bottom: 20px;
}
.about-span1{
    font-family: 'Font-1';
}
.about-p1{
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 40;
    margin-bottom: 5px;
}
.about-h2-2{
    font-size: 3.2rem;
    font-family: 'Poppins';
    font-weight: 60;
    margin: 50px 150px 0;
    text-align: center;
}
.about-p2{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 50;
    margin: 30px 150px 0px;
    text-align: center;
}
/* images and text section 2 */
.about-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 30px 150px 0;
    gap: 20px;
}
.about-2-images{
    color: white;
    background: rgb(20, 20, 20);
    padding: 5px;
    border-radius: 5px;
}
.about-h2-main{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 5px;
}
.about-h2-normal{
    font-family: 'Poppins';
    font-size: 1.2rem;
    font-weight: 50;
    margin-top: 5px;
}
.about-h2-normal2{
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 50;
    margin-top: 10px;
}
.about-2-2{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 150px 0;
    gap: 20px;
    justify-content: center;
}
/* village franchise */
.about-3{
    display: flex;
    gap: 20px;
    margin: 40px 150px 50px;
}
.about-3-h2-1{
    color: white;
    font-size: 1.4rem;
    font-weight: 40;
    font-family: 'Poppins';
    margin-top: 5px;
}
.h2-4{
    margin: 10px 0;
    font-size: 3.2rem;
    font-family: 'Font-1';
}
.span-3{
    margin: 10px 0;
    font-size: 3.2rem;
    font-family: 'Poppins';
    font-weight: 60;
}
.p3{
    margin: 10px 0;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 60;
}

/* footer */

.elements-8{
    margin: 50px 150px 0;
    display: flex;
}
.footer-p1{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-p2{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 200;
}
.footer-div1{
    margin: 0 50px;
}
.footer-a{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-h3-2{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 20px;

}
.footer-p3{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-logo{
    margin: 20px 4px;
    font-size: 1.4rem;
    background-color: var(--red-color);
    border-radius: 25px;
    padding: 10px;
}
.footer-parent{
    background-color: rgb(20, 20, 20);
    padding: 15px;
}
.footer-sec-img{
    margin: 30px 0 1px;
}

/* last section */
.last-sec-p1{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px;
}
.last-section{
    display: flex;
    background-color: rgb(20, 20, 20);
    
}
.last-sec-p2{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px 0 675px;
}
.last-sec-img{
    margin: 30px 0 1px;
}