@font-face {
    font-family: 'Font-1';
    src: url(/Fonts/futurak.ttf);
}

/* navbar */

a{
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}
.logo-img{
    width: 168px;
}
.nav-items{
    display: flex;
    gap: 25px;
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-1{
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.btn-2{
    background-color: var(--red-color);
    color: white;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.btn-2-2{
    color: var(--red-color);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

/* 2nd portition */
.logo-font{
    font-family: 'Font-1' !important;
    font-size: 5.2rem !important;
}
.h2-1{   
    font-size: 4rem;
    font-family: 'Poppins';
    font-weight: 150;
}
.Snp{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.p1{
    margin-top: 5px;
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* 3rd portion */
.img-1{
    background: white;
    padding: 8px;
    border-radius: 10px;
}
.a{
    margin: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.btn-a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-a{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
/* elements section-3 */
.elements-1{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  margin: 40px 0 0 0;
}
.h2-2{
    font-size: 5.2rem;
    font-family: 'Font-1';
}
.span-2{
    font-size: 4.8rem !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 200;
}
.p2{
    font-family: 'Poppins';
    font-size: 1.6rem;
}
/* elements section 4 */
.elements-2{
    margin: 30px 150px 0 150px;
    display: flex;
    gap: 280px;
}
.h2-3{
    letter-spacing: 5px;
    font-family: 'Poppins';
    color: var(--red-color);
    font-size: 1.6rem;
    font-weight: 50;
}
.h2-4{
    font-family: 'Font-1';
    font-size: 3.2rem;
    color: white;
}
.span-3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    color: white;
    font-weight: 100;
}
.address{
    margin-top: 30px !important;
}
.p3{
    font-size: 1.6rem;
    font-family: 'Poppins';
    font-weight: 25;
    margin: 13px 0;
}
.get-directions-btn{
    margin: 40px 0 0 80px !important;
}
.faisalabad{
    gap: 50px;
}
/* elements section 5 */

.h2-5{
    font-family: 'Font-1';
    font-size: 5.2rem;
    font-weight: 350;
}
.span-4{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 4.8rem !important;
    font-weight: 150 !important;
}
.elements-3{
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 30px 150px 0;
    display: flex;
}
.h2-6{
    font-size: 2.4rem;
    font-family: 'Poppins';
}
.span-5{
    font-family: 'Font-1' !important;
    font-weight: 400 !important;
    font-size: 2.6rem;
}
.sec-5-images{
    margin: 15px;
}
.sec-5-txt{
    text-align: center;
    margin-top: 30px;
}

/* elements section 6 */

.sec-6-text{
    text-align: center;
    margin: 40px 0;
}
.elements-4{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-color: rgb(20, 20, 20);
}

/* elements section 7 */

.elements-5{
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.btn-3{
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.btn-3-3{
    color: #28a745;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

/* elements section 8 */

.sec-8-span{
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
}
.sec-8-text{
    text-align: center;
    margin-top: 40px;
}
.h2-8{
    color: var(--red-color);
    font-family: 'Poppins';
    font-size: 1rem;
    letter-spacing: 5px;
    word-spacing: 3px;
    font-weight: 50;
}
.h2-7{
    font-family: 'Font-1';
    font-size: 2.4rem;
    font-weight: 90000;
}
.span-6{
    font-size: 2rem;
    font-weight: 5000;
}
.elements-6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 30px 150px 0;
    gap: 20px;
}
.sec-8-images{
    color: black;
    background: white;
    padding: 45px 55px;
    border-radius: 5px;
}

/* elements section 9 */

.sec-9-h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 40px;
}
.elements-7{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 25px;
}

/* footer */

.elements-8{
    margin: 50px 150px 0;
    display: flex;
}
.footer-p1{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-p2{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 200;
}
.footer-div1{
    margin: 0 50px;
}
.footer-a{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-h3-2{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 20px;

}
.footer-p3{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-logo{
    margin: 20px 4px;
    font-size: 1.4rem;
    background-color: var(--red-color);
    border-radius: 25px;
    padding: 10px;
}
.footer-parent{
    background-color: rgb(20, 20, 20);
    padding: 15px;
}
.footer-sec-img{
    margin: 30px 0 1px;
}

/* last section */
.last-sec-p1{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px;
}
.last-section{
    display: flex;
    background-color: rgb(20, 20, 20);
    
}
.last-sec-p2{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px 0 675px;
}
.last-sec-img{
    margin: 30px 0 1px;
}