@font-face {
    font-family: 'Font-1';
    src: url(/Fonts/futurak.ttf);
}

/* navbar */

a{
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}
.logo-img{
    width: 168px;
}
.nav-items{
    display: flex;
    gap: 25px;
    font-family: 'Poppins';
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-1{
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
.btn-2{
    background-color: var(--red-color);
    color: white;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
}
.btn-2-2{
    color: var(--red-color);
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
}

/* section 2 */
.pub-sec1{
    display: flex;
    margin: 50px 150px;
    gap: 40px;
}
.pub-img1{
    border: 0.1px solid white;
    padding: 20px;
}
.pub-img1:hover{
    cursor: pointer;
}

/* section 3 */
.pub-h1{
    font-size: 3.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 50px;
}
.pub-h2{
    font-size: 1.6rem;
    font-family: 'Poppins';
    margin-top: 20px;
    text-align: center;
}
.pub-p{
    font-size: 1.4rem;
    font-family: 'Poppins';
    margin-top: 10px;
    text-align: center;
}
.pub-sec2{
    margin-bottom: 50px;
}

/* footer */

.elements-8{
    margin: 50px 150px 0;
    display: flex;
}
.footer-p1{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-p2{
    font-family: 'Poppins';
    font-weight: 70;
    font-size: 1.5rem;
    margin-top: 10px;
}
.footer-h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    font-weight: 200;
}
.footer-div1{
    margin: 0 50px;
}
.footer-a{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-h3-2{
    font-family: 'Poppins';
    font-size: 1.6rem;
    font-weight: 200;
    margin-top: 20px;

}
.footer-p3{
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 30;
    margin: 20px 0;
    display: flex;
}
.footer-logo{
    margin: 20px 4px;
    font-size: 1.4rem;
    background-color: var(--red-color);
    border-radius: 25px;
    padding: 10px;
}
.footer-parent{
    background-color: rgb(20, 20, 20);
    padding: 15px;
}
.footer-sec-img{
    margin: 30px 0 1px;
}

/* last section */
.last-sec-p1{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px;
}
.last-section{
    display: flex;
    background-color: rgb(20, 20, 20);
    
}
.last-sec-p2{
    font-family: 'Poppins';
    font-weight: 40;
    font-size: 1.4rem;
    margin: 30px 150px 0 675px;
}
.last-sec-img{
    margin: 30px 0 1px;
}